<div class="horizontal-scroll">
    <div class="form-group select-page-size-wrap ">
        <label>Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="page_size" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>
    </div>
    <table class="table" st-table="previous_bills">
        <thead>
        <tr class="sortable ">
            <th class="table-id" st-sort="id" st-sort-default="true">#</th>
            <th st-sort="lastName">Billed Month</th>
            <th st-sort="firstName">Brought Forward Balance</th>
            <th st-sort="username">Billed Amount</th>
            <th st-sort="email">Billed Date</th>
            <th st-sort="age">Bill Due</th>
        </tr>
        <tr>
            <th></th>
            <th><input st-search="firstName" placeholder="Search Invoice ID" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="lastName" placeholder="Search Billed Month" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="username" placeholder="Search Billed Amount" class="input-sm form-control search-input"
                       type="search"/></th>
            <th><input st-search="email" placeholder="Search Billed Date" class="input-sm form-control search-input" type="search"/>
            </th>
            <th><input st-search="age" placeholder="Search Bill Due" class="input-sm form-control search-input" type="search"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in bills">
            <td class="table-id">{{item.id}}</td>
            <td>{{item.billDate|date:"MMMM"}}</td>
            <td>{{item.forwardBalance | currency:"Rs. "}}</td>
            <td>{{item.billAmount | currency:"Rs. "}}</td>
            <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.billDate}}</a></td>
            <td>{{item.billDate + 10}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="page_size" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
